#relative{
    position: relative;
    top:140px;
    width: 300px;
    height: 300px;
    border: 3px solid #73AD21;
    margin-top:120px;
    margin:0 auto;

}
.absolute1 {
    position: absolute;
    top: -50px;
    right:-50px;
    width: 100px;
    height: 100px;
    border: 2px solid #73AD21;
   
}
.absolute2{
    position: absolute;
    top: -50px;
    left:-50px;
    width: 100px;
    height: 100px;
    border: 2px solid #73AD21;
 }
.absolute3 {
    position: absolute;
    bottom: -50px;
    right:-50px;
    width: 100px;
    height: 100px;
    border: 2px solid #73AD21;
 }
.absolute4 {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    border: 2px solid #73AD21;

}
#header {
    top: 0px;
    background-color:black;
    color:white;
    text-align:center;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
 }
  #footer {
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
   
 }


body{
    margin:0 auto;
    width:800px;
    
}

</div><br>
</div><br>